<h2 style="color:red;">@Session["Error"]</h2>

<form action="Result" method="get">
    Name:<input type="text" name="firstName" />
    Age: <input type="number" name="age" min="1" max="130"/>
    <input type="submit"/>
</form>