<form action="Result">
    <p>First Number:</p><input type="number" name="num1" />
    <p>Second Number:</p><input type="number" name="num2" />
    <input type="radio" name="operation" value="Plus" /> Plus
    <input type="radio" name="operation" value="Minus" /> Minus
    <input type="radio" name="operation" value="Multiply" /> Multiply
    <input type="radio" name="operation" value="Divide" /> Divide

    <input type="submit" />

</form>