<h2>Login</h2>
<h1 style="color:red">@ViewBag.Error</h1>
<form method="post" action="Login">
    <p>User Name: <input name="UserName" type="text"/></p>
    <p>Password: <input name="Password" type="password"/></p>
    <input type="submit"/>
</form>

count @ViewBag.Count