<h2>Registration Form</h2>

<form method="post">
    <input type="text" name="UserName"/>
    <input type="password" name="Password"/>
    <input type="email" name="Email"/>
    <input type="number" name="Age"/>
    <input type="submit"/>
</form>