<h2>Login Form</h2>
<form method="post">
    <p>User Name: </p>
    <input type="text" name="UserName"/>
    
    <p>Password: </p>
    <input type="password" name="Password"/>

    <input type="submit"/>
</form>