<h2>User Registration</h2>
<form action="MakeNewUser">
    <p>User Name:</p><input name="UserName"/>
    <p>Password: </p> <input name="Password" type="password"/>
    <p>Money: </p> <input name="Money" type="number" step=".01"/>
    <input type="submit"/>
</form>